@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("./utils/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "HelveticaNeueCyr-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  font-weight: 400;
font-size: 14px;
line-height: 140%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
